# Solana network connection settings
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_WSS_URL=wss://api.devnet.solana.com

# Target CHAKRA on-chain program ID
SOLANA_PROGRAM_ID=HHTujmzPcqDXUJMTWjcho2EvjD4cPyRHpCTcistPrVZ9

# Path to the local sentinel authority filesystem wallet
SENTINEL_WALLET_PATH=~/.config/solana/id.json

# Local shard path for the sentinel node instance
SENTINEL_SHARD_PATH=shard_1.json

# Node operational settings
PORT=3001
MODE=node # 'node' or 'listener'
